$font-family: 'Verdana';
$font-style: normal;
$font-size-header: 24px;
$font-size-general-header: 18px;
$font-size-sub-header: 13px;
$font-size-label: 14px;
$font-size-button: 12px;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$line-height-normal: 140%;

:export {
  fontFamily: $font-family;
  fontStyle: $font-style;
  fontWeightRegular: $font-weight-regular;
  fontWeightHeavy: $font-weight-heavy;
  fontSizeHeader: $font-size-header;
  fontSizeGeneralHeader: $font-size-general-header;
  fontSizeSubHeader: $font-size-sub-header;
  fontSizeLabel: $font-size-label;
  lineHeightNormal: $line-height-normal;
}
