//Global colors:
$primary: #317b7e;
$success: #27ae60;
$active: #27ae60;
$warning: #f2994a;
$error: #cb3a3a;
$border-color: #dddddd;

//Back-ground:
$background-primary: #ffffff;
$background-secondary: #f5f5f5;
$background-warning: #fff5ed;

//Text colors:
$text-primary: #000000;
$text-header: #111111;
$text-context: #333333;
$text-secondary: #777777;
$text-contrast: #ffffff;
$text-success: #108b44;
$text-error: #cb3a3a;
$text-navigate: #1414a0;

//Tab panels:
$tab-background: #edefff;
$tab-text: #aaaaba;

//Table:
$table-header: #edefff;
$table-border: #ebebeb;

// $theme-colors: (
//   'primary': $primary,
// );

// :export {
//   primary: $primary;
//   success: $success;
//   warning: $warning;
//   error: $error;
//   borderColor: $border-color;
//   backgroundPrimary: $background-primary;
//   backgroundSecondary: $background-secondary;
//   backgroundWarning: $background-warning;
//   textPrimary: $text-primary;
//   textSecondary: $text-secondary;
//   textContrast: $text-contrast;
//   textSuccess: $text-success;
//   textError: $text-error;
//   textNavigate: $text-navigate;
//   tabBackground: $tab-background;
//   tabText: $tab-text;
//   tableHeader: $table-header;
//   tableBorder: $table-border;
// }
