.management-demo-container {
  position: relative;
  display: grid;
  grid-template-areas:
    'header header'
    'menu main';
  /* background-color: #2196f3; */
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 64px 1fr;
  margin-bottom: 2rem;
  width: 'calc(100vw - 24px)';
}

.management-demo-menu {
  position: relative !important;
  grid-area: menu;
  min-width: 250px !important;
  overflow: hidden;
  min-height: 100vh;
  border-right: 1px solid var(--bs-border-color);
}
.management-demo-header {
  grid-area: header;
  min-height: 64px;
}
.management-demo-menu > div {
  position: fixed !important;
  padding: 1rem;
  min-width: 250px !important;
}
.management-demo-main {
  grid-area: main;
}

.management-demo-gutter {
  --bs-gutter-x: 1rem !important;
}
